@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    --color-gradient: linear-gradient(to right, var(--color-main), var(--color-accent));

}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
   --color-main: #4080C4;
  --color-blue: #1a81c4;
  --color-gris: #ededed;
  --color-accent: #28bfc9;
  --color-gris-oscuro: #6b6b6b;
  --color-texto: #1e2939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #2d3748;
     --card: 0 0% 100%;
   
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

.card {
  padding: 2em;
}
